{% extends 'base.html' %}

{% block title %}

    Home

{% endblock %}


{% block home %}

    class="active"


{% endblock %}


{% block main %}


         <section class="type1">
            <h1>Home</h1>
            <p>Welkom op de website van de 'PICycle Speedometer'. Deze snelheidsmeter is mijn eindwerk voor de module project 1, een module die ik volg aan Howest binnen de opleiding NMCT. In feite is het is een soort integratie opdracht gebasseerd op de modules User 1, Device Programming 1, Datacommunication 1 en Datamanagement waarbij aan de hand van een Raspberry Pi data van een sensor ingelezen, opgeslaan in een database en gevisualiseerd wordt. Op deze 'homepagina' krijg je een kort overzicht te zien van de functionaliteiten van de website. Vergeet zeker niet eerst naar de pagina speedometer te gaan en daar jou gegevens te versturen.
            </p>
        </section>


        <section class="type2">
            <article>

                <a href="{{ url_for('speedometer') }}"><h1>Speedometer</h1></a>
                <p>Op deze pagina kan u uw persoonlijke gegevens meegeven. Deze zullen opgeslaan worden in onze database. Zeer belangrijk is om de diameter van uw wiel door te sturen. Indien u dit niet doet,z al de snelheidsmeter niet correct kunnen werken. Daarnaast kan u op deze pagina ook uw data visualiseren.
                </p>

            </article>

            <article>
                <a href="{{ url_for('speedometer') }}">{{ macros.build_image('Speedometer.jpg', 500,400) }}</a>
            </article>


        </section>

        <section class="type2">

            <article>

                <a href="{{ url_for('contact') }}"><h1>Contact</h1></a>
                <p>Indien u vragen hebt over mijn opleiding, het project, deze snelheidsmeter, de website,.. aarzel dan zeker niet om het contactformulier in te vullen. </p>

            </article>

            <article>
                <a href="{{ url_for('contact') }}">{{ macros.build_image('Contact.png', 500,400) }}</a>
            </article>


        </section>




{% endblock %}