{% extends 'base.html' %}

{% block title %}

    Home

{% endblock %}


{% block home %}

    class="active"


{% endblock %}


{% block main %}


         <section>
            <h1>Home</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor porta efficitur. Morbi vulputate elit et tellus venenatis porttitor. Maecenas vel tellus vitae ipsum tristique posuere. Morbi eu varius massa. Nullam non vehicula risus. Quisque id venenatis nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor efficitur libero, at bibendum purus consequat fringilla. Ut lorem felis, cursus ac viverra eget, bibendum quis nibh. Praesent eget lacus faucibus, aliquet enim malesuada, scelerisque velit. Aenean vel mollis quam, sed scelerisque dui. Morbi ut quam at enim faucibus luctus id et est.

In sit amet euismod enim. Fusce tempus bibendum ex, mollis pellentesque leo consectetur quis. Suspendisse potenti. Maecenas rutrum ante id augue tempor, scelerisque porttitor lacus ullamcorper. Fusce tempus massa sit amet nulla facilisis, in varius erat sagittis. Cras eu.</p>
        </section>


        <section>
            <h1>Speedometer</h1>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor porta efficitur. Morbi vulputate elit et tellus venenatis porttitor. Maecenas vel tellus vitae ipsum tristique posuere. Morbi eu varius massa. Nullam non vehicula risus. Quisque id venenatis nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor efficitur libero, at bibendum purus consequat fringilla.</p>
        </section>

         <section>
            <h1>Contact</h1>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor porta efficitur. Morbi vulputate elit et tellus venenatis porttitor. Maecenas vel tellus vitae ipsum tristique posuere. Morbi eu varius massa. Nullam non vehicula risus. Quisque id venenatis nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor efficitur libero, at bibendum purus consequat fringilla.</p>
        </section>



{% endblock %}