{% extends 'base.html' %}


{% block title %}

Speedometer

{% endblock %}

{% block home %}

    class = "active"

{% endblock %}



{% block main %}


    <section class="type1">
        <h1>Grafiek</h1>
        <div id="chart_div" style=""></div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['bar']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Tijd', 'Afstand'],
              ['{{ data[1] }} - {{ data[2] }}', {{ data[0] }}]

            ]);

            var options = {
              chart: {
                title: 'Distance',
                subtitle: 'Afgelegde afstand '
              }
            };

            var chart = new google.charts.Bar(document.getElementById('chart_div'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
          }
        </script>


    <div id="push"></div>

    </section>




{% endblock %}