{% extends 'base.html' %}


{% block title %}

Speedometer

{% endblock %}

{% block home %}

    class = "active"

{% endblock %}



{% block main %}


    <section class="type1">

        <h1>Speedometer</h1>
        <p>
            Om uw snelheidsmeter correct te laten werken dient u onderstaand formulier in te vullen. Zeer belangrijk is om de diameter van uw wiel mee te geven. Indien u de verkeerde diameter meegaf, of u bijvoorbeeld een nieuwe fiets aangekocht hebt is het geen probleem om het formulier simpelweg nog eens te versturen. De snelheidsmeter zal zich daarna baseren op uw nieuwe diameter. Tijden het fietsen wordt uw data opgeslaan in een database. Onderaan deze pagina vindt u een functie om deze data te visualiseren.
        </p>

            <form action="{{ url_for('speedometer') }}" class="form_type2" method="POST">

            {{ macros.build_label('', 'Gelieve uw voornaam in te geven: ') }}
            <br>
            {{ macros.build_input('text', 'voornaam','','') }}
            <br>
            {{ macros.build_label('','Gelieve uw familienaam in te geven: ') }}
            <br>
            {{ macros.build_input('text', 'naam', '','') }}
            <br>
            {{ macros.build_label('','Gelieve uw leeftijd in te geven: ') }}
            <br>
            {{ macros.build_input('number', 'leeftijd','','') }}
            <br>

            {{ macros.build_label('', 'Geef de diamater van uw wiel in (cm): ') }}
            <br>
            {{ macros.build_input('number', 'diameter wiel', '', '') }}
            <br>
                <i>{{ comment }}</i>
                <br>
            {{ macros.build_input('submit', 'submit1', 'Verzenden', 'button') }}

        </form>

    </section>

    <section class="type2">
        <h1>Keuzemenu</h1>
        <form action="{{ url_for('speedometer') }}" class="form_type1">

            {{ macros.build_label('', 'Interval: ') }}
            <br>
            <select name="" id="test">
                <option value="Per dag">Per dag</option>
                <option value="Per maand">Per maand</option>
                <option value="Per jaar">Per jaar</option>
            </select>
            <br>
            {{ macros.build_label('', 'Datum: ') }}

            <br>
            <select>
                <option value="10-10-2017">Snelheid</option>

            </select>

            <br>


            {{ macros.build_label('', 'Welke Grafiek: ') }}
            <br>
            <select>
                <option value="Snelheid">Snelheid</option>
                <option value="Tijd">Tijd</option>
                <option value="Afstand">Afstand</option>
            </select>
            <br>
            {{ macros.build_input('submit', 'submit2', 'Teken Grafiek', 'button') }}





        </form>


    </section>

    <section id="grafiek">

            <div id="chart_div"></div>

    </section>


{% endblock %}