{% extends 'base.html' %}


{% block title %}

Speedometer

{% endblock %}

{% block home %}

    class = "active"

{% endblock %}



{% block main %}


    <section class="type1">

        <h1>Speedometer</h1>
        <p>
            Om uw snelheidsmeter correct te laten werken dient u onderstaand formulier in te vullen. Zeer belangrijk is om de diameter van uw wiel mee te geven. Indien u de verkeerde diameter meegaf, of u bijvoorbeeld een nieuwe fiets aangekocht hebt is het geen probleem om het formulier simpelweg nog eens te versturen. De snelheidsmeter zal zich daarna baseren op uw nieuwe diameter. Tijden het fietsen wordt uw data opgeslaan in een database. Onderaan deze pagina vindt u een functie om deze data te visualiseren.
        </p>

            <form action="{{ url_for('speedometer') }}" class="form_type2" method="POST">

            {{ macros.build_label('', 'Voornaam: ') }}
            <br>
            {{ macros.build_input('text', 'voornaam','','') }}
            <br>
            {{ macros.build_label('','Familienaam: ') }}
            <br>
            {{ macros.build_input('text', 'naam', '','') }}
            <br>
            {{ macros.build_label('','Leeftijd: ') }}
            <br>
            {{ macros.build_input('number', 'leeftijd','','') }}
            <br>

            {{ macros.build_label('', 'Diameter wiel (cm): ') }}
            <br>
            {{ macros.build_input('number', 'diameter wiel', '', '') }}
            <br>
                <i>{{ comment }}</i>
                <br>
            {{ macros.build_input('submit', 'submit1', 'Verzenden', 'button') }}

        </form>

    </section>

    <section class="type1">
        <h1>Keuzemenu</h1>
        <form action="{{ url_for('speedometerchart') }}" class="form_type1" method = "post">


            {{ macros.build_label('', 'Datum: ') }}

            <br>
            <select name = "selected">
                    {% for nieuwe_datum in nieuwe_datums %}
                        <option name = "{{ datums[nieuwe_datum[1]][0] }}"
                                value="{{ datums[nieuwe_datum[1]][0] }}">
                                {{ nieuwe_datum[0] }}
                        </option>
                    {% endfor %}

            </select>

            <br>

            {{ macros.build_input('submit', 'submit2', 'Teken Grafiek', 'button') }}





        </form>


    </section>






{% endblock %}